form {
    align-items: center;
    padding: 10px;
    display: flex;
}

input {
    padding: 5px;
}

.modal {
    background-color: rgb(189, 189, 189);
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
