html, body {
    background-color: rgb(44, 44, 44);
    font-family: 'Inter', sans-serif;
    color: rgb(56, 56, 56);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
}

#main-container {
    height: 100vh;
    width: fit-content;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

#sidebar {
    float: left;
    background-color: rgb(75, 75, 75);
    color: white;
    height: 100%;
    display: inline;
    width: 10%;
  }

  ul{
    list-style: none;
  }

  li {
    padding: 10px;
  }

  li:hover {
    background-color: black;
    transition: 0.5s;
  }

#task-container {
    width: 88%;
    float: right;
}
  
  th {
    text-align: left;
    color: rgb(146, 146, 146);
    border-bottom: 1px solid rgb(85, 85, 85);;
    font-weight: 500;
    white-space:nowrap;

  }

  td {
    text-align: left;
    border-top: 1px solid rgb(85, 85, 85);;
    border-bottom: 1px solid rgb(85, 85, 85);;
    border-right: 1px solid rgb(85, 85, 85);;  
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 14px;
    white-space:nowrap;

  }

  #task-title {
    font-weight: 500;
    height: 35px;
  }
  
  #title-text {
    font-weight: 500;
  }

h3 {
    color: white;
}

#completed {
    padding: 5px;
    background-color: rgb(92, 139, 92);
    border-radius: 7px;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

#in-progress {
    padding: 5px;
    background-color: rgb(92, 111, 139);
    border-radius: 7px;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

span {
    margin: 5px;
}

#delete-btn {
    cursor: pointer;
}

#edit-btn {
    cursor: pointer;
}

h1 {
    color: white;
    font-weight: 700;
}

#header {
    padding-bottom: 10px;
}

#desc {
    background-color: rgb(44, 44, 44);
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100px;
}