.AddButton {
    text-align: left;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(170,170,170);
}

h1 {
    color: white;
}

hr,h2 {
    margin: 12px;
}

button {
    margin-left: 12px;
    margin-right: 12px;
}

input {
    margin: 12px;
}